.rangeslider-vertical .rangeslider__labels {
    width: 0 !important;
}

.settings--container, .vet--profile--container, .endMsg {
    width: 80%;
    background-color: #348ba89d;
    border-radius: 2rem;
    margin: 2rem auto;

    .error {
        display: block;
        font-weight: 400;
        font-size: 0.8rem;
        background: #e93d3dc4;
        line-height: 1.2rem;
        padding: 0 1rem;
        color: #ffffff;
        border-radius: 0 0 1rem 1rem;
        position: absolute;
    }

    input[type="submit"] {
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        width: 10rem;

        
        color: #ffffff81;
        background-color: #525174;
        transition: background-color 0.3s, color 0.5s;

        font-size: 1rem;
        font-weight: 600;
    
        &:focus {
            outline: none;
        }
        
        &:hover {
            background-color: #513B56;
            color: #ffffffe5;
            cursor: pointer;
        }
    }
}

.settings--container {
    padding: 2rem 4rem;
    width: 80%;

    .form--container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2.2rem;

        .PlacesSearch--container {
            margin: 1.5rem 0;
            width: 25rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        color: #ffffff;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 2rem;
        color: #ffffff;
    }

    hr {
        width: 30%;
        height: 1px;
        background-color: #ffffff;
        margin: 1rem 0;
        border: none;
    }

    p {
        margin-bottom: 0.3rem;
        color: #ffffff;
    }
}

.endMsg, .settings--container {
    height: 27rem;
}


.vet--profile--container {
    height: 70rem;
    padding: 4rem;
    background-image: url('https://image.freepik.com/free-photo/young-female-veterinarian-carrying-dog-clinic_23-2147928595.jpg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 40rem 0;

    #multiselectContainerReact { 
        width: 30rem;
    }
    .editor--container {
        width: 30rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .profile--image--div {
            span {
                position: relative;
                left: 1.3rem;
                top: 2.1rem;
                width: 12rem;
                padding: 0;
                text-align: center;
            }
        }

        .profile--image--button {
            background-color: #525174;
            padding: 2rem 1.2rem;
            color: #ffffff;
            font-weight: 400;
            font-size: 1.2rem;
            border-radius: 1.2rem;
            text-align: center;
            transition: background-color 0.3s, color 0.5s;
            cursor: pointer;


            &:hover {
                background-color: #513B56;
                color: #ffffffe5;
                cursor: pointer;
            }
        }

        .rangeslider-vertical {
            margin: 0;

            .rangeslider__fill {
                background-color: #525174;
            }
        }
    }

    hr {
        width: 30%;
        height: 1px;
        background-color: #ffffff;
        margin: 1rem 0;
        border: none;
    }

    form {
        height: 100%;
        width: 32rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
        border-radius: 2px;
    }

    p {
        margin-bottom: 0.3rem;
        color: #ffffff;
    }

    h1 {
        font-size: 2rem;
        color: #ffffff;
    }
}



.message--container {
    height: 100%;
    background-color: #3f8d4352;
    margin: 7rem auto;
    h3 {
        font-size: 2rem;
        color: #ffffffe5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.message .btn {
    font-size: 1.2rem;
    display: block;
    width: 100%;
    transition: color 0.2s, transform 0.2s;

    &:hover {
        color: #3f8d43;
        transform: scale(1.2);
    }
}




@media (max-width: 1350px) {
    input, select, textarea {
        font-size: 16px;
      }
    
    .settings--container {
        .form--container {
            .PlacesSearch--container {
                width: 30vw;
            }
        }
    }
    
    
    .vet--profile--container {
        height: 75rem;
        background-image: none;

        #multiselectContainerReact { 
            width: 54vw;
            div {
                width: 54vw;
            }
        }

        .editor--container {
            width: 54vw;
            justify-content: space-between;
        }

        .PlacesSearch--container, p {
            width: 54vw;
        }
    
        form {
            width: 100%;
            & > span {
                width: 54vw;
            }
        }
    }
}





@media (max-width: 1000px) {

    .settings--container, .vet--profile--container, .endMsg {
        width: 90%;
    }
    
    .settings--container {
        height: 50rem;

        .form--container {
            height: 42rem;
            flex-direction: column;

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            .PlacesSearch--container {
                width: 60vw;
                margin: 1rem 0;

                div { 
                    height: 2.5rem;
                }
            }
        }
    
    
        h2 {
            margin-bottom: 0;
        }
    }
    
    
    .vet--profile--container {
        padding: 4rem 3rem;

        #multiselectContainerReact { 
            width: 28rem;
            div {
                width: 28rem;
            }
        }

        .editor--container {
            width: 30rem;
        }
    
        form > span, .PlacesSearch--container, p {
                width: 28rem;
        }
    }
}




@media (max-width: 576px) {
    
    .settings--container {
        .form--container {
            height: 40rem;
        }
    }
    
    
    .vet--profile--container {
        #multiselectContainerReact { 
            width: 70vw;
            div {
                width: 70vw;
            }
        }

        .editor--container {
            margin-top: -7rem;
            margin-bottom: -2rem;
            height: 28rem;
            width: 15rem;
            position: relative;
            flex-direction: column-reverse;
            justify-content: space-around;
    
            .rangeslider-vertical {
                top: 14rem;
                position: absolute;
                transform: rotate(90deg);
            }
        }

        .PlacesSearch--container, p {
            width: 70vw;
        }
    
        form {
            height: 100%;
            padding: 3rem;
            & > span {
                width: 70vw;
            }
        }
    
        h1 {
            font-size: 2rem;
        }
    }
}




@media (max-width: 416px) {
    .settings--container {
        h1 {
            font-size: 1.8rem;
        }
    }
    .vet--profile--container {
        .editor--container {
            margin-top: -5rem;
        }
        h1 {
            font-size: 1.5rem;
        }
        form {
            padding: 1rem 1rem;
        }
    }
}




@media (max-width: 360px) {
    .settings--container {
        h1 {
            font-size: 1.3rem;
        }
    }
    .vet--profile--container {
        h1 {
            font-size: 1.1rem;
        }
        form {
            padding: 1rem 0;
        }
    }
}
