
.SearchBar--overwrite {
    .search--bar {
        height: 20vh;
        h2 {
            display: none;
        }

        span {
            width: 10rem;
            transform: scale(0.8);
        }
    }
}


.search--results {
    margin: 1rem auto;
    width: 80%;
    height: 120vh;

    hr {

        width: 100%;
        height: 1px;
        border: none;
        background-color: #7575754d;
        margin: 0 auto;
    }

    .filters {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        
    }
    
    .result--list {
        width: 100%;
        height: 90%;
    }
}

.optionContainer li {
    color:  #757575;
}

.optionContainer li:hover,
.optionContainer .highlight {
  background: #54a058;
  color: #fff;
}