div.message {
    text-align: center;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 5rem auto;

    h2 {
        font-size: 3rem;
        color: #3f8d43;
        font-weight: 600;
    }

    p {
        color: #757575;
        font-size: 1.7rem;
        text-align: center;
        width: 70%;
        margin: 2rem 0;
    }

    span {
        color: #757575;
        font-size: 1rem;
        text-align: center;
        width: 30%;
    }
}

@media (max-width: 525px) { 
    div.message {
        
        h2 {
            font-size: 2rem;
        }
    
        p {
            width: 100%;
        }
    
        span {
            width: 100%;
        }
    }
}

@media (max-width: 370px) { 
    div.message {
        text-align: center;
        
        h2 {
            font-size: 1.5rem;
        }
    
        p {
            font-size: 1.2rem;
        }
    
        span {
            font-size: .4rem
        }
    }
}