div.message {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 5rem 0;

    h2 {
        font-size: 3rem;
        color: #3f8d43;
        font-weight: 600;
    }

    p {
        color: #757575;
        font-size: 1.7rem;
        text-align: center;
        width: 70%;
        margin: 2rem 0;
    }

    span {
        color: #757575;
        font-size: 1rem;
        text-align: center;
        width: 30%;
    }
}

@media (max-width: 576px) { 
    div.message {
        width: 100%;
        text-align: center;
        
        h2 {
            font-size: 2rem;
        }
    
        p {
            width: 100%;
        }
    
        span {
            width: 100%;
        }
    }
}